//RED
/*
$primary_color: #DA291C;
$secondary_color: #FFFFFF;
*/

//GRAYSCALE
$primary_color: rgba(62, 65, 69, 0.95);
$secondary_color: #FFFFFF;
/*#161718
#232526
#313336
#3E4145
#4B4F54
#5E5E5E
#6C6C6C
#7A7A7A
#888888
*/

//all of the pages
.wrapper , .wrapper_dashboard, .wrapper_municipal{
  opacity: 1;
  visibility: visible;
}

.gsContainer{
  //background: gray;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  position: absolute;

}

.gsContainer2{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 15;

}

.gsContainer3{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 14;
}

.ground{
  background-image: url("./images/login_images/buildings.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}

#light, #light2{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

#light{
  background-image: url("./images/login_images/lightoff.png");
}

#light2{
  background-image: url("./images/login_images/lighton.png");
}

@media (min-width: 320px) and (max-width: 768px){

    #app {
      background: $primary_color;
      color: $secondary_color;
      width: 100%;
      height: inherit;
    }

    .wrapper{
      height: inherit;
      justify-content: center;
      align-items: center;
      display: flex;
      vertical-align: middle;
      width: 100%;
      background-image: url("./images/login_images/loginwall1.jpg");
      background-size: cover;
    }
}

@media (min-width: 769px) and (max-width: 960px){

    #app {
      background: $primary_color;
      color: $secondary_color;
      width: 100%;
      //height: 100%;
    height: inherit;
    }

    .wrapper{
      height: inherit;
      justify-content: center;
      align-items: center;
      display: flex;
      vertical-align: middle;
      width: 100%;
      background-image: url("./images/login_images/loginwall1.jpg");
      background-size: cover;
    }
}

@media (min-width: 961px) {

    #app {
      background: $primary_color;
      color: $secondary_color;
      width: 100%;
    //  height: 100%;
    height: inherit;
    }

    .wrapper{
      height: inherit;
      justify-content: center;
      align-items: center;
      display: flex;
      vertical-align: middle;
      width: 100%;
      background-image: url("./images/login_images/loginwall1.jpg");
      background-size: cover;
    }
}


@import "component1/login.scss";
