
.wrapper_busqueda{
  background: #e21616;
  z-index: 15;
  position: absolute;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.dropdown_busqueda{
  width: 100% !important
}
.btn_busqueda{
  width: 100%;
  background-color: #c5121b !important;
  color: white !important;
}
