$primary_color: #DA291C;
$secondary_color: #FFFFFF;
$banner_color: #ac0009;
$dash_background_color: #000; //40opacity 46% fill;

.wrapper_dashboard{
  background: $primary_color;
  width: 100%;
  height: 100%;
}

.dashboard_ .inner_wrapper_dashboard{
  width: 100%;
  height: 100%;
}

.ui.container{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.dashboard_banner_title{
  margin: 0;
}

.btn_dashboard, .btn_dashboard_logoff{
  background-color: #e0000c !important;
  color: #ffffff !important;
  -webkit-tap-highlight-color: #cccccca3;
}

@media (max-width: 320px){
  .ui.container{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .welcome_title{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
  }

  .welcome_title h2,h4{
    margin: 0;

  }

}


@media (min-width: 320px) and (max-width: 425px){

  .dashboard_body_wrapper{
    background-image: url("../images/dashboard_images/bg/valparaiso.png");
    background-size: cover;
    height: 100%;
    position: fixed;
  }

  .dashboard_component_wrapper{
    background-color: #ff00007d;
    padding: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }


  .dashboard_component_wrapper img{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .welcome_title{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
  }

  .welcome_title h2,h4{
    margin: 0;
  }

}

@media (min-width: 426px) and (max-width: 768px){
  .dashboard_body_wrapper{
      background-image: url("../images/dashboard_images/bg/valparaiso.png");
    background-size: cover;
    height: 100%;
    position: fixed;
  }

  .dashboard_component_wrapper{
    background-color: #ff00007d;
    padding: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }


  .dashboard_component_wrapper img{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .welcome_title{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
  }

  .welcome_title h2,h4{
    margin: 0;
  }

  .ui.container{
    width: 100%;
  }


  .ui.horizontal.divider{
    width: 30%;
  }

  .ui.fluid.dropdown {
    display: block;
    width: 30%;
    min-width: 0;
  }

  .btn_dashboard {
    width: 30% !important;
  }
}


@media (min-width: 769px) and (max-width: 960px){
  .dashboard_body_wrapper{
    background-image: url("../images/dashboard_images/bg/valparaiso.png");
    background-size: cover;
    height: 100%;
    position: fixed;
  }

  .dashboard_component_wrapper{
    background-color: #ff00007d;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }


  .dashboard_component_wrapper img{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .welcome_title{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
  }

  .welcome_title h2,h4{
    margin: 0;
  }

  .ui.container{
    width: 100%;
  }


  .ui.horizontal.divider{
    width: 30%;
  }

  .ui.fluid.dropdown {
    display: block;
    width: 30%;
    min-width: 0;
  }

  .btn_dashboard {
    width: 30% !important;
  }
}


@media (min-width: 961px) {
  .dashboard_body_wrapper{
    background-image: url("../images/dashboard_images/bg/valparaiso.png");
    background-size: cover;
    height: 100%;
    position: fixed;
  }

  .dashboard_component_wrapper{
    background-color: #ff00007d;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;

  }


  .dashboard_component_wrapper img{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .welcome_title{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
  }

  .welcome_title h2,h4{
    margin: 0;
  }

  .ui.container{
    width: 100%;
  }


  .ui.horizontal.divider{
    width: 30%;
  }

  .ui.fluid.dropdown {
    display: block;
    width: 30%;
    min-width: 0;
  }

  .btn_dashboard {
    width: 30% !important;
  }
}
