//RED
/*
$transparent_color: #e21616e8;
$normal_color:  #e52b2b;
$button_exportar:  #ef1f1f
$btn_chev: #e25050;
*/
//GRAYSCALE
$transparent_color: rgba(62, 65, 69, 0.95);
$normal_color:  rgba(62, 65, 69, 0.95);
$button_exportar: rgba(49,51,54,1);
$selected_row: rgba(49,51,54,1);
$btn_chev:  rgba(62, 65, 69, 0.95);

.tab_menu{
  background: $normal_color;
  color: white;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #ffffff;
  color: #FFF;
}

.ui.menu .item {
  color: #FFF;
}

.ui.secondary.pointing.menu a:hover{
  color: #FFF !important;
  border-color: #ffffff !important;
}

.tab1_, .tab2_, .tab3_ {
  background: $normal_color !important;
}

.ui.tabular.menu .item{
    color: white !important;
}

.ui.tabular.menu .active.item{
  background: $button_exportar !important;
}

.wrapper_titles_edit{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.wrapper_titles_edit_h3{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.wrapper_buttons_edit{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.btn_chevron{
  color: white !important;
  background: $button_exportar !important;
}

.divider_edit{
  margin: 5px;
}

.btn_editwidget_actions{
        color: white !important;
}

.btn_actions_wrapper{
  border: 1px solid rgb(255, 255, 255)!important;
}

.ui.basic.button, .ui.basic.buttons .button{
  color: rgb(255, 255, 255)!important
}

.image-gallery-left-nav, .image-gallery-right-nav{
    padding: 0 !important;
}

@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
