$transparent_color: #e21616e8;
$normal_color:  #e21616;

.wrapper_layermap{
  background: $transparent_color;
  z-index: 15;
  position: absolute;
  width: 100%;
  padding: 1em;
}

.dropdown_layermap{
  width: 100% !important
}
.btn_layermap{
  width: 100%;
}

.layermap_form{
  font-family: Roboto;
}
.ui.checkbox label{
  color: white;
}
