

$primary_color: #DA291C;
$secondary_color: #FFFFFF;

//320px

@media (max-width: 320px){

  .login-wrapper{
    z-index: 20;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
  }

  .inner_wrapper{
    background-color: rgba(5, 5, 6, 0.64);
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
  }

  .container_login{
    width: 100%;
    display: flex !important;
    flex-direction: column;
    padding-bottom: 3em;
    padding-top: 2em;
  //  background-color: rgba(5, 5, 6, 0.64);
  }

  .container_login_image{
    display: flex !important;
    flex-direction: column;
    align-items: center;

  }

  .image_login{
    display: flex;
    width: 25%;
  }

  .header_login_text{
    color: $secondary_color;
  }


  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

  .ui.button{
    width: 100%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

}

@media (min-width: 321px) and (max-width: 425px){

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(5, 5, 6, 0.64);
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .ui.button{
    width: 100%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

}

@media (min-width: 426px) and (max-width: 768px){

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(5, 5, 6, 0.64);
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .ui.button{
    width: 100%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

  .inner_wrapper{
    //background-color: rgba(5, 5, 6, 0.64);
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
  }

  .container_login{
    width: 30% !important;
  }

}

@media (min-width: 769px) and (max-width: 960px){

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(5, 5, 6, 0.64);
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .ui.button{
    width: 100%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

  .inner_wrapper{
    //background-color: rgba(5, 5, 6, 0.64);
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
  }

  .container_login{
    width: 30% !important;
  }

}

@media (min-width: 961px) {

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(5, 5, 6, 0.64);
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .ui.button{
    width: 100%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

  .inner_wrapper{
    //background-color: rgba(5, 5, 6, 0.64);
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
  }

  .container_login{
    width: 30% !important;
  }

}


/*
@media (min-width: 376px) and (max-width: 425px){

  .ui.container {
    width: 100% !important;
  }

  .container_login{
    width: 100%;
    display: flex !important;
    flex-direction: column;
    padding-bottom: 3em;
    padding-top: 2em;
    background-color: rgba(5, 5, 6, 0.64);
  }

  .container_login_image{
    display: flex !important;
    flex-direction: column;
    align-items: center;

  }

  .image_login{
    display: flex;
    width: 25%;
  }

  .header_login_text{
    color: $secondary_color;
  }


  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

  .ui.button{
    width: 100%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }
}


//768
@media (min-width: 426px) and (max-width: 768px){

  #app {
    background: $primary_color;
    color: $secondary_color;
    height: inherit;
    background-image: url("./images/login_images/loginwall1.jpg");
    background-size: cover;
  }

  .wrapper{
    //padding-top: 20%;
    height: 100%;
  }

  .inner_wrapper{
    width: 100%;
    height: 100%;
  }

  .ui.container{
    margin: 0 !important;
    width: 100%;
    height: 100%;
  }

  .container_login{
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    //padding-bottom: 3em;
    //padding-top: 2em;
    background-color: rgba(5, 5, 6, 0.64);
  }

  .container_login_image{
    display: flex !important;
    align-items: center;
    height: 40% !important;
  }

  .input_login_container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    height: 40% !important;
  }

  .image_login{
    display: flex;
    width: 25%;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .ui.header>img{
    width: 4.5em;
  }

  .input_login{
    width: 35%;
    margin-top: 0.5em;
  }

  .ui.button{
    width: 35%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
    align-items: center;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    font-size: 1.3em;
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .ui.divider {
    font-size: 1rem;
    width: 30%;
  }
}
/*
@media (min-width: 769px) and (max-width: 2560px){

  #app {
    background: $primary_color;
    color: $secondary_color;
    height: inherit;
    background-image: url("./images/login_images/loginwall1.jpg");
    background-size: cover;
  }

  .wrapper{
    //padding-top: 20%;
    height: 100%;
  }

  .inner_wrapper{
    width: 100%;
    height: 100%;
  }

  .ui.container{
    margin: 0 !important;
    width: 100%;
    height: 100%;
  }

  .container_login{
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    //padding-bottom: 3em;
    //padding-top: 2em;
    background-color: rgba(5, 5, 6, 0.64);
  }

  .container_login_image{
    display: flex !important;
    align-items: center;
    height: 40% !important;
  }

  .input_login_container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    height: 40% !important;
  }

  .image_login{
    display: flex;
    width: 25%;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .ui.header>img{
    width: 5.5em;
  }

  .input_login{
    width: 35%;
    margin-top: 0.5em;
  }

  .ui.button{
    width: 35%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    align-items: center;
  }

  .ui.button:active{
    background-color: #cccccca3 !important;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    font-size: 2.5em;
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .ui.divider {
    font-size: 1rem;
    width: 30%;
  }
}
*/
