
//RED
/*
$primary_color: #DA291C;
$secondary_color: #FFFFFF;
$primary_color_background: #da291cdb;
$button_: #e0000c;
$border_: rgba(187,35,24,0.18);
$background_inner: rgba(235,69,57,0.58);
*/

//GRAYSCALE

$primary_color: rgba(62, 65, 69, 0.95);
$secondary_color: #FFFFFF;
$primary_color_background: rgba(35,37,38,0.61);
$button_: #161718;
$border_: #6b6d6d;
$background_inner: rgba(169,169,169,0.18);


.inner_wrapper{
  border: $border_;
  border-style: solid;
  border-radius: 0;
  padding: 2em;
  background: $background_inner;
}


//320px
@media (max-width: 320px){

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $primary_color_background;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .btn_login{
    width: 100%;
    background-color: $button_ !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

}

@media (min-width: 321px) and (max-width: 425px){

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $primary_color_background;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .btn_login{
    width: 100%;
    background-color: $button_ !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

}

@media (min-width: 426px) and (max-width: 768px){

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $primary_color_background;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .btn_login{
    width: 100%;
    background-color: #e0000c !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }
}

@media (min-width: 769px) and (max-width: 960px){

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $primary_color_background;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .btn_login{
    width: 100%;
    background-color: $button_ !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

}

@media (min-width: 961px) {

  .login-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $primary_color_background;
  }

  .ui.input{
    color: white;
  }

  .ui.icon.header .content{
    margin-top: 0.5em;
    font-family: lato;
    font-variant-caps: all-petite-caps;
  }

  .btn_login{
    width: 100%;
    background-color: $button_ !important;
    color: #ffffff !important;
    -webkit-tap-highlight-color: #cccccca3;
  }

  .input_login input {
    background: rgba(255, 255, 255, 0) !important;
    border: 1.5px solid rgba(232, 232, 232, 0.64) !important;
    color: white !important;
    font-weight: 600;
  }

  .header_login_text{
    color: $secondary_color;
  }

  .input_login{
    width: 100%;
    margin-top: 0.5em;
  }

}
