//RED
/*
$transparent_color: #e21616e8;
$normal_color:  #e21616;
$button_exportar: rgb(152,0,0)
*/
//GRAYSCALE
$transparent_color: rgba(62, 65, 69, 0.95);
$normal_color:  #232526;
$button_exportar: rgba(49,51,54,1);
$selected_row: rgba(49,51,54,1);

.rail_meters_wrapper{
  width: 50%;
  height: 100%;
}

.wrapper_meters{
  background: $transparent_color;
  z-index: 45;
  position: absolute;
  width: 100%;
  padding: 1em;
}

.wrapper_meters_768{
  background: $transparent_color;
  z-index: 45;
  position: absolute;
  width: 50%;
  padding: 1em;
}

.ReactTable .-pagination .-btn{
  color: white !important;
}

.meters_horizontal_divider{
  width: 100% !important;
}

.wrapper_meters_titles{
  display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.meter_export_btn{
  width: 100%;
  background: $button_exportar !important;
  margin-bottom: 1em !important;
}

.wrapper_meters_right{
  padding-top: 1.5em;
}

.wrapper_divider_export_padding{
    padding-top: 1.5em;
}

.selectedRow{
  background-color: $selected_row;
}
@media (min-width: 320px) and (max-width: 425px) {

  .rail_meters_wrapper{
    WIDTH: 100% !important;
    //height: 55% !important;
  }

}

@media (min-width: 426px) and (max-width: 1024px) {

  .rail_meters_wrapper{
    width: 100% !important;
    //height: 45% !important;
  }

}

@media (min-width: 1025px) and (max-width: 1899px)  {

  .rail_meters_wrapper{
    WIDTH: 100% !important;
    //height: 40% !important;
  }

}


@media (min-width: 1900px)  {

  .rail_meters_wrapper{
    WIDTH: 100% !important;
    //height: 25% !important;
  }

}

@media (min-width: 961px){
.meters_horizontal_divider {
  width: 100% !important;
  font-family: Roboto;
  font-size: large !important;
  }
}
