$primary_color: #DA291C;
$secondary_color: #FFFFFF;
$banner_color: #ac0009;
$dash_background_color: #000; //40opacity 46% fill;

.esriSimpleSliderTL {
    top: 20px !important;
    right: 20px  !important;
    left: auto !important;
    visibility: visible;
}

.wrapper_municipal{
  background: $primary_color;
  width: 100%;
  height: 100%;
}

.muni_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: red;
}

.muni_header_titles{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0.5em;
  flex-grow: 2;
  justify-content: center;
}

.main_title{
  font-family: Lato !important;
  font-weight: 300 !important;
  color: white !important;
}
.secondary_title{
  font-family: Roboto !important;
  font-weight: 900 !important;
  color: white !important;
}

.header_title{
  margin: 0 !important;
  background: #ff0000cf;
}

.logo_img{
  margin-top: 0.5em ;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.muni_header_button{
  display: flex;
}

.map_wrapper{
  color: black;
  height: -webkit-fill-available;
}

.pushable_menu_wrapper{
  margin: 0 !important;

}

.pushable {
  overflow-y: hidden !important;
}

.ui.segment{
  border: 0 !important;
}

.pushable_menu_{
  background: #e25050 !important;
  align-content: center;
  align-items: center;
  display: flex !important;
  justify-content: center;
}


@media (min-width: 320px) and (max-width: 425px) {

  .muni_header_wrapper{
    display: flex;
    width: 100%;
  }


  .esriSimpleSliderTL {
    visibility: hidden;
  }

}


@media (min-width: 426px)  {

  .muni_header_wrapper{
    display: flex;
    width: 100%;
  }

  .logoxl_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logoxl_wrapper img {
    display: flex !important;
    height: 100% !important;
  }

  .logoxl_wrapper h3 {
    margin: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }

}
