
$secondary_color: #FFFFFF;
$banner_color: #ac0009;
$dash_background_color: #000; //40opacity 46% fill;

//RED
/*
$header: #ff0000cf;
$buttonHeader: #e0000c;
$widgets_bar_color:  #e25050;
$primary_color: #DA291C;
$header_background: red;

*/
//GRAYSCALE
$header: rgba(62, 65, 69, 0.86);
/*#161718
#232526
#313336
#3E4145
#4B4F54
#5E5E5E
#6C6C6C
#7A7A7A
#888888
*/

$header_background: #313336;
$primary_color: #313336;
$widgets_bar_color:  #737B86;
$buttonHeader: #313336;

.esriSimpleSliderTL {
  top: 20px !important;
  right: 20px  !important;
  left: auto !important;
  visibility: visible;
  z-index: 14;
}

.wrapper_municipal{
  background: $primary_color;
  width: 100%;
  height: max-content;
}

.muni_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $header_background;
}

.muni_header_titles{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0.5em;
  flex-grow: 2;
  justify-content: center;
}

.main_title{
  font-family: Lato !important;
  font-weight: 300 !important;
  color: white !important;
}
.secondary_title{
  font-family: Roboto !important;
  font-weight: 900 !important;
  color: white !important;
}

.header_title{
  margin: 0 !important;
  background: $header;
}

.logo_img{
  margin-top: 0.5em ;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.muni_header_button{
  display: flex;
}

.map_wrapper{
  color: black;
  height: -webkit-fill-available;
}

.pushable_menu_wrapper{
  margin: 0 !important;

}

.pushable {
  overflow-y: hidden !important;
}

.ui.segment{
  border: 0 !important;
}

.pushable_menu_{
  background: $widgets_bar_color !important;
  align-content: center;
  align-items: center;
  display: flex !important;
  justify-content: center;
}

.btn_header_menu{
  width: 100%;
  background-color: $buttonHeader !important;
  color: #ffffff !important;
  -webkit-tap-highlight-color: #cccccca3;
}


@media (min-width: 320px) and (max-width: 425px) {

  .muni_header_wrapper{
    display: flex;
    width: 100%;
  }

  .esriSimpleSliderTL {
    visibility: hidden;
  }

}


@media (min-width: 426px)  {

  .muni_header_wrapper{
    display: flex;
    width: 100%;
  }

  .logoxl_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logoxl_wrapper img {
    display: flex !important;
    height: 100% !important;
  }

  .logoxl_wrapper h3 {
    margin: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }

}

@media (min-width: 320px) and (max-width: 768px) {
  .wrapper_municipal{
    height: max-content;
    min-height: 180%;
  }

}

@media (min-width: 769px) and (max-width: 1366px) {
  .wrapper_municipal{
    height: max-content;
    min-height: 130%;
  }

}
