$primary_color: #DA291C;
$secondary_color: #FFFFFF;
$banner_color: #ac0009;
$dash_background_color: #000; //40opacity 46% fill;

.wrapper_municipal{
  background: $primary_color;
  width: 100%;
  height: 100%;
}

.muni_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: red;
}


.logo_img{
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
